@model assignment_wt1_oauth.Models.Event
@{
    ViewBag.Title = "Activities";
}
<h2>GetJsonDataModel</h2>

@{ 
    <table>
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>completed</th>
        </tr>
        <tr>
            <th></th>
        </tr>
    </table>
}