@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
     <button type="button" onclick="location.href='@Url.Action("Code", "Home")'">Login With gitlab</button>
</div>